/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

body, ul, li, span, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-family: 'Pretendard';
  overflow-x: hidden;
  background-color: #FFF;
}

/* sec-1 시작 */
.sec-1 > .main {
  width: 1920px;
  margin: 0 auto;
}

.sec-1 > .main > img {
  display: block;
  width: 100%;
}

/* .sec-2 시작 */
.sec-2 {
  width: 1920px;
  padding-top: 105px;
  padding-bottom: 138px;
  margin: 0 auto;
}

.sec-2 > .img-box {
  width: 252px;
  margin: 0 auto;
}

.sec-2 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-2 > .text-box {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

.sec-2 > .text-box > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 40px;
  font-weight: 500;
  color: #2E3138;
}

.sec-2 > .text-box > .title > .with {
  font-weight: 700;
  color: #0CC291;
  margin-left: 6px;
}

.sec-2 > .text-box > .sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  line-height: 1.4;
  color: #515662;
}

.sec-2 > .button {
  text-align: center;
  margin-top: 60px;
}

.sec-2 > .button > button {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #53D4B1;
  color: #089B73;
  background-color: #FFF;
}

.sec-2 > .button > button:hover {
  background-color: #53D4B1;
  color: #FFF;
}

/* .sec-8 시작 */
.sec-8 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-8 > .img-box {
  width: 1920px;
}

.sec-8 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-8 > .text-box {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-8 > .text-box > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: #2E3138;
  margin-bottom: 20px;
}

.sec-8 > .text-box > .title > .bold {
  font-weight: 700;
  margin-left: 6px;
  color: #0CC291;
}

.sec-8 > .text-box > .sub {
  font-size: 18px;
  line-height: 1.4;
  color: #818897
}

.sec-8 > .img {
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 366px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.sec-8 > .img > .img-1 > img,
.sec-8 > .img > .img-2 > img,
.sec-8 > .img > .img-3 > img,
.sec-8 > .img > .img-4 > img {
  position: relative;
  display: block;
  width: 360px;
}

.sec-8 > .img > .img-1 > .text {
  position: absolute;
  top: 33px;
  left: 28px;
}

.sec-8 > .img > .img-1 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-1 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-1 .icon {
  position: absolute;
  top: 170px;
  left: 46px;
  display: block;
  width: 240px;
}

.sec-8 > .img > .img-1 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-1 .button {
  position: absolute;
  top: 45px;
  left: 272px;
}

.sec-8 > .img > .img-2 .icon {
  display: block;
  width: 227px;
}

.sec-8 > .img > .img-2 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-2 > .text {
  position: absolute;
  top: 33px;
  left: 410px;
}

.sec-8 > .img > .img-2 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-2 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-2 .icon {
  position: absolute;
  top: 140px;
  left: 427px;
  display: block;
  width: 227px;
}

.sec-8 > .img > .img-2 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-2 .button {
  position: absolute;
  top: 45px;
  left: 650px;
}

.sec-8 > .img > .img-3 .icon {
  display: block;
  width: 230px;
}

.sec-8 > .img > .img-3 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-4 .icon {
  display: block;
  width: 124px;
}

.sec-8 > .img > .img-4 .icon > img {
  width: 100%;
}

.sec-8 > .img .button {
  width: 34px;
}

.sec-8 > .img .button img {
  display: block;
  width: 100%;
}

/* .sec-9 시작 */
.sec-9 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-9 > .img-box {
  width: 1920px;
}

.sec-9 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-9 > .text-box {
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-9 > .text-box > .text-img {
  position: absolute;
  width: 214px;
  top: 54px;
  left: 326px;
  z-index: 1;
}

.sec-9 > .text-box > .text-img > img {
  display: block;
  width: 100%;
}

.sec-9 > .text-box > .sub {
  font-size: 18px;
  color: #818897;
  margin-bottom: 42px;
}

.sec-9 > .text-box > .title {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  color: #2E3138;
  z-index: 5;
}