/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

body, ul, li, span, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-family: 'Pretendard';
  overflow-x: hidden;
  background-color: #FFF;
}

/* sec-1 시작 */
.sec-1 > .main {
  width: 1920px;
  margin: 0 auto;
}

.sec-1 > .main > img {
  display: block;
  width: 100%;
}

/* .sec-2 시작 */
.sec-2 {
  width: 1920px;
  padding-top: 105px;
  padding-bottom: 138px;
  margin: 0 auto;
}

.sec-2 > .img-box {
  width: 252px;
  margin: 0 auto;
}

.sec-2 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-2 > .text-box {
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
}

.sec-2 > .text-box > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 40px;
  font-weight: 500;
  color: #2E3138;
}

.sec-2 > .text-box > .title > .with {
  font-weight: 700;
  color: #0CC291;
  margin-left: 6px;
}

.sec-2 > .text-box > .sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  line-height: 1.4;
  color: #515662;
}

.sec-2 > .button {
  text-align: center;
  margin-top: 60px;
}

.sec-2 > .button > button {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #53D4B1;
  color: #089B73;
  background-color: #FFF;
}

.sec-2 > .button > button:hover {
  background-color: #53D4B1;
  color: #FFF;
}

/* .sec-4 시작 */
.sec-4 {
  position: relative;
  width: 1920px;
  padding: 136px 0;
  margin: 0 auto;
}

.sec-4 > .con {
  width: 1500px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.sec-4 > .con > .top,
.sec-4 > .con > .bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec-4 > .con > .bottom {
  margin-top: 130px;
}

.sec-4 > .con > .bottom > .l-img > img:nth-child(2) {
  position: absolute;
  top: -60px;
  left: 12px;
  display: block;
  width: 124px;
}

.sec-4 > .con > .bottom > .text {
  margin-right: 32px;
}

.sec-4 > .con > .top > .text > .story,
.sec-4 > .con > .bottom > .text > .service {
  font-size: 12px;
  margin-bottom: 10px;
  color: #0CC291;
}

.sec-4 > .con > .top > .text > .title,
.sec-4 > .con > .bottom > .text > .title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
  margin-bottom: 26px;
}

.sec-4 > .con > .top > .text > .sub,
.sec-4 > .con > .bottom > .text > .sub {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #515662;
}

.sec-4 > .con > .top > .text > .small,
.sec-4 > .con > .bottom > .text > .small {
  margin-top: 8px;
  margin-bottom: 60px;
  line-height: 1.5;
  color: #818897;
}

.sec-4 > .con > .top > .text > .button,
.sec-4 > .con > .bottom > .text > .button {
  display: flex;
  gap: 14px;
}

.sec-4 > .con > .top > .text > .button > div,
.sec-4 > .con > .bottom > .text > .button > div {
  box-sizing: border-box;
  transition: all .3s;
}

.sec-4 > .con > .top > .text > .button > .b-1,
.sec-4 > .con > .bottom > .text > .button > .b-1 {
  padding: 8px 22px;
  background-color: #0CC291;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.2;
  color: #FFF;
  border-radius: 50px;
}

.sec-4 > .con > .top > .text > .button > .b-2,
.sec-4 > .con > .bottom > .text > .button > .b-2 {
  padding: 8px 22px;
  background-color: transparent;
  border: 1px solid #0CC291;
  font-size: 16px;
  line-height: 1.2;
  color: #089B73;
  border-radius: 50px;
}

.sec-4 > .con > .top > .text > .button > .b-3,
.sec-4 > .con > .bottom > .text > .button > .b-3 {
  padding: 8px 22px;
  border: 1px solid #0CC291;
  font-size: 16px;
  line-height: 1.2;
  color: #089B73;
  border-radius: 50px;
}

.sec-4 > .con > .top > .text > .button > .b-2:hover,
.sec-4 > .con > .top > .text > .button > .b-3:hover,
.sec-4 > .con > .bottom > .text > .button > .b-2:hover,
.sec-4 > .con > .bottom > .text > .button > .b-3:hover {
  background-color: #0CC291;
  color: #FFF;
}

.sec-4 > .con > .top > .r-img {
  width: 740px;
}

.sec-4 > .con > .top > .r-img > img {
  display: block;
  width: 100%;
}

.sec-4 > .con > .bottom > .l-img {
  width: 740px;
}

.sec-4 > .con > .bottom > .l-img > img {
  display: block;
  width: 100%;
}

/* .sec-5 시작 */
.sec-5 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-5 > .bg-img {
  width: 1920px;
}

.sec-5 > .bg-img > img {
  display: block;
  width: 100%;
}

.sec-5 > .img-box {
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  width: 394px;
}

.sec-5 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-5 > .text {
  position: absolute;
  top: 488px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-5 > .text > .title {
  position: relative;
  display: block;
  font-size: 29px;
  font-weight: 600;
  color: #2E3138;
  z-index: 5;
}

.sec-5 > .text > .title > .text-bg {
  position: absolute;
  top: 24px;
  left: 126px;
  width: 672px;
  z-index: -1;
}

.sec-5 > .text > .title > .text-bg > img {
  display: block;
  width: 100%;
}

.sec-5 > .text > .sub {
  margin-top: 20px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  color: #515662;
}

/* .sec-6 시작 */
.sec-6 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-6 > .bg-img {
  width: 1920px;
}

.sec-6 > .bg-img > img {
  display: block;
  width: 100%;
}

.sec-6 > .text {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-6 > .text > .title {
  font-size: 40px;
  font-weight: 600;
  color: #2E3138;
}

.sec-6 > .text > .title > .bold {
  color: #0CC291;
}

.sec-6 > .img-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.sec-6 > .img-box > .img-1 {
  width: 254px;
  margin-right: 63px;
}

.sec-6 > .img-box > .img-1 img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.sec-6 > .img-box > .img-1 img:hover,
.sec-6 > .img-box > .img-2 img:hover,
.sec-6 > .img-box > .img-3 img:hover,
.sec-6 > .img-box > .img-4 img:hover {
  transform: scale(1.03);
}

.sec-6 > .img-box > .img-2 {
  width: 232px;
  margin-left: 74px;
  margin-right: 74px;
}

.sec-6 > .img-box > .img-2 img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.sec-6 > .img-box > .img-3 {
  width: 250px;
  margin-left: 65px;
  margin-right: 64px;
}

.sec-6 > .img-box > .img-3 img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.sec-6 > .img-box > .img-4 {
  width: 247px;
  margin-left: 80px;
}

.sec-6 > .img-box > .img-4 img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.sec-6 .vector {
  height: 309px;
}

.sec-6 .vector > img {
  display: block;
  height: 100%;
}

.sec-6 > .img-box > .img-1 > .text-box,
.sec-6 > .img-box > .img-2 > .text-box,
.sec-6 > .img-box > .img-3 > .text-box,
.sec-6 > .img-box > .img-4 > .text-box {
  text-align: center;
  margin-top: 54px;
}

.sec-6 > .img-box > .img-1 > .text-box > .tit,
.sec-6 > .img-box > .img-2 > .text-box > .tit,
.sec-6 > .img-box > .img-3 > .text-box > .tit,
.sec-6 > .img-box > .img-4 > .text-box > .tit {
  font-size: 26px;
  font-weight: 600;
  color: #1A624F;
}

.sec-6 > .img-box > .img-1 > .text-box > .sub,
.sec-6 > .img-box > .img-2 > .text-box > .sub,
.sec-6 > .img-box > .img-3 > .text-box > .sub,
.sec-6 > .img-box > .img-4 > .text-box > .sub {
  font-size: 16px;
  color: #515662;
  line-height: 1.3;
  margin-top: 8px;
}

/* .sec-8 시작 */
.sec-8 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-8 > .img-box {
  width: 1920px;
}

.sec-8 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-8 > .text-box {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-8 > .text-box > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: #2E3138;
  margin-bottom: 20px;
}

.sec-8 > .text-box > .title > .bold {
  font-weight: 700;
  margin-left: 6px;
  color: #0CC291;
}

.sec-8 > .text-box > .sub {
  font-size: 18px;
  line-height: 1.4;
  color: #818897
}

.sec-8 > .img {
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 366px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.sec-8 > .img > .img-1 > img,
.sec-8 > .img > .img-2 > img,
.sec-8 > .img > .img-3 > img,
.sec-8 > .img > .img-4 > img {
  position: relative;
  display: block;
  width: 360px;
}

.sec-8 > .img > .img-1 > .text {
  position: absolute;
  top: 33px;
  left: 28px;
}

.sec-8 > .img > .img-1 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-1 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-1 .icon {
  position: absolute;
  top: 170px;
  left: 46px;
  display: block;
  width: 240px;
}

.sec-8 > .img > .img-1 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-1 .button {
  position: absolute;
  top: 45px;
  left: 272px;
}

.sec-8 > .img > .img-2 .icon {
  display: block;
  width: 227px;
}

.sec-8 > .img > .img-2 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-2 > .text {
  position: absolute;
  top: 33px;
  left: 410px;
}

.sec-8 > .img > .img-2 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-2 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-2 .icon {
  position: absolute;
  top: 140px;
  left: 427px;
  display: block;
  width: 227px;
}

.sec-8 > .img > .img-2 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-2 .button {
  position: absolute;
  top: 45px;
  left: 650px;
}

.sec-8 > .img > .img-3 .icon {
  display: block;
  width: 230px;
}

.sec-8 > .img > .img-3 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-3 > .text {
  position: absolute;
  top: 33px;
  left: 790px;
}

.sec-8 > .img > .img-3 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-3 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-3 .icon {
  position: absolute;
  top: 162px;
  left: 814px;
  display: block;
  width: 227px;
}

.sec-8 > .img > .img-3 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-3 .button {
  position: absolute;
  top: 45px;
  left: 1030px;
}

.sec-8 > .img > .img-4 .icon {
  display: block;
  width: 124px;
}

.sec-8 > .img > .img-4 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-4 > .text {
  position: absolute;
  top: 33px;
  left: 1170px;
}

.sec-8 > .img > .img-4 > .text > .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: #2E3138;
}

.sec-8 > .img > .img-4 > .text .sub {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515662;
}

.sec-8 > .img > .img-4 .icon {
  position: absolute;
  top: 162px;
  right: 124px;
  display: block;
  width: 124px;
}

.sec-8 > .img > .img-4 .icon > img {
  width: 100%;
}

.sec-8 > .img > .img-4 .button {
  position: absolute;
  top: 45px;
  left: 1412px;
}

.sec-8 > .img .button {
  width: 34px;
}

.sec-8 > .img .button img {
  display: block;
  width: 100%;
}

/* .sec-9 시작 */
.sec-9 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-9 > .img-box {
  width: 1920px;
}

.sec-9 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-9 > .text-box {
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-9 > .text-box > .text-img {
  position: absolute;
  width: 214px;
  top: 54px;
  left: 326px;
  z-index: 1;
}

.sec-9 > .text-box > .text-img > img {
  display: block;
  width: 100%;
}

.sec-9 > .text-box > .sub {
  font-size: 18px;
  color: #818897;
  margin-bottom: 42px;
}

.sec-9 > .text-box > .title {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  color: #2E3138;
  z-index: 5;
}